.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: all 300ms linear;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.items {
    margin-top: 10px;
    // padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collapsedButton {
    position: absolute;
    bottom: 32px;
    right: -30px;
}

.collapsed {
    width: var(--sidebar-collapsed-width);
    
    // .items {
    //     padding-left: 0;
    //     align-items: center;
    // }

    .switchers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
