.ArticlesPage {
    width: auto;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
 
.selectedListView {  
    & svg {
        opacity: 0.3; 
    }
}
