.night {
    --bg-color: #071f21;
    --inverted-bg-color: #134f54;
    --primary-color: #2fdceb;
    --secondary-color: #0d3c40;
    --inverted-primary-color: #34cbd8;
    --inverted-secondary-color: #262929;
    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
}
