.night {
    --bg-color: #071f21;
    --inverted-bg-color: #134f54;
    --primary-color: #2fdceb;
    --secondary-color: #2ea1ab;
    --inverted-primary-color: #34cbd8;
    --inverted-secondary-color: #262929;

    // skeleton
    --skeleton-color: #353536;
    --skeleton-shadow: #000;

    // code
    --code-bg: #222;
}
