.ProfilePageHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.btnsWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
