.ArticlesPageHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px; 
    width: 100%;
}

.ArticlesPageHeaderRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
